.terminal-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.terminal-container.overflow-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.terminal-container .xterm {
  height: 100%;
  padding: 4px;
}

.terminal-container .xterm-viewport {
  overflow-y: hidden !important;
}
